@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:ital,wght@0,400;0,500;1,300;1,500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --primary: #000000;
  --secondary: #929292;
  --secondary-hover: #717171;
}
